.hero_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero_text {
  margin: 5rem;
}
.hero_image {
  height: 100vh;
  float: right;
  border-radius: 15rem 0 0 15rem;
}
.hero_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-weight: bold;
  background: #8e78fc;
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 1rem 2rem;
  border-radius: 35px;
  margin: 1rem 0;
  letter-spacing: 1px;
  color: white;
  transition: all 0.2s ease-in-out;
}
.hero_button:hover {
  border: 2px solid #8e78fc;
  background: none;
  color: black;
}
